{% extends 'ServicesBundle:Services/dashboard:dashboard.html.twig' %}
{% block sidebar %}
    <li class="header">Administracion</li>
    <li class="treeview">
        <a href="{{ path('services_servicios_usuarios')}}"><i class="fa fa-user"></i> <span>Usuarios</span><i class="fa fa-angle-left pull-right"></i></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('services_servicios_usuarios')}}"><i class="fa fa-user"></i> <span>Usuarios</span></a></li>
            <li>
                <a href="{{ path('services_servicios_adduser')}}"><i class="fa fa-user-plus"></i> <span>Añadir Usuarios</span></a>  
            </li>
        </ul>
    </li>
    <li>
        <a href="#clientes"><i class="fa fa-users"></i> <span>Clientes</span></a>
        <ul class="treeview-menu">
            <li><a href="{{ path('services_servicios_clientes')}}"><i class="fa fa-user"></i> <span>Clientes</span></a></li>
            <li>
                <a href="{{ path('services_servicios_addcliente')}}"><i class="fa fa-user-plus"></i> <span>Añadir Cliente</span></a>  
            </li>
        </ul>
    </li>
{% endblock sidebar %}

{% block body %}
    <section class="content-header">
        <h1>
            Administracion
            <small>Panel de administracion</small>
        </h1>
    </section>
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Nuevos Usuarios</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        Más datos <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>150</h3>
                        <p>Nuevos Clientes</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <a href="#" class="small-box-footer">
                        More datos <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>150</h3>
                  <p>New Orders</p>
                </div>
                <div class="icon">
                  <i class="fa fa-users"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>53<sup style="font-size: 20px">%</sup></h3>
                  <p>Bounce Rate</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>44</h3>
                  <p>User Registrations</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
            <div class="col-lg-3 col-xs-6">
              <!-- small box -->
              <div class="small-box bg-red">
                <div class="inner">
                  <h3>65</h3>
                  <p>Unique Visitors</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">
                  More info <i class="fa fa-arrow-circle-right"></i>
                </a>
              </div>
            </div><!-- ./col -->
          </div>
    </div>
</section>
{% endblock body %}