{% extends 'ServicesBundle:Services/dashboard/admin:admin.html.twig' %}


{% block body %}
    <section class="content-header">
        <h1>
            Administracion
            <small>Panel de usuario</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Acciones</h3>
                    </div>
                </div>
                <div class="box-body box-">

                </div>
            </div>
            <div class="col-md-7">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{form_title}}</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    {#<form class="form-horizontal">#}
                    {% form_theme form 'bootstrap_3_layout.html.twig'  %}
                        <div id="msg" class="box-body">
                            {{ form_start(form, {'method':'POST','attr':{'class':'form-horizontal','id':'form'}}) }}
                            <div class="form-group form-padd">
                                {#<label for="inputEmail3" class="col-sm-3 control-label">Nombre de usuario</label>#}
                                {{ form_errors(form.username)}}
                                {{ form_label(form.username,'Nombre de usuario:',{'label_attr':{'class':' left-text col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                   {{ form_widget(form.username,{'attr':{'class':'form-control','id':'username'}})}}
                                </div>
                            </div>
                            <div class="form-group form-padd">
                                {#<label for="inputEmail3" class="col-sm-3 control-label">Email</label>#}
                                {{ form_errors(form.email)}}
                                {{ form_label(form.email,'Correo electrónico:',{'label_attr': {'class': ' left-text col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                    {#<input class="form-control" id="inputEmail3" placeholder="Email" type="email">#}
                                     {{ form_widget(form.email,{'attr':{'class':'form-control','id':"email"}})}}
                                </div>
                            </div>
                            <div class="form-group form-padd {% if not form.password.vars.valid %}has-error{% endif %}">
                                {#<label for="inputPassword3" class="col-sm-3 control-label">Password</label>#}
                                {{ form_errors(form.password,{'errors_attr':{'class':'control-label'}})}}
                                {{ form_label(form.password.first,'Contraseña:',{'label_attr':{'class': ' left-text col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                    {#<input class="form-control" id="inputPassword3" placeholder="Password" type="password">#}
                                    {#{{ form_widget(form.password,{'attr':{'class':'form-control','id':"password"}})}}#}
                                    {{ form_row(form.password.first,{'attr':{'class':'form-control','id':"password"}}) }}
                                </div>
                            </div>
                            <div class="form-group form-padd">
                                {{ form_label(form.password.second,'Repita la contraseña:',{'label_attr':{'class': ' left-text col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                    {{ form_row(form.password.second,{'attr':{'class':'form-control','id':"password"}}) }}
                                </div>
                            </div>
                            <div class="form-group form-padd">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                        {{ form_widget(form.isActive,{'attr':{'id':"active"}})}} Activo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group form-padd">
                                {{ form_label(form.roles,'Roles:',{'label_attr': {'class': ' left-text col-sm-3 control-label'}}) }}
                                <div class="col-sm-9">
                                    {{ form_widget(form.roles,{'attr':{'class':'form-control','id':"roles"}})}}
                                </div>
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            {#<button type="submit" class="btn btn-info pull-right">Sign in</button>#}
                            {{ form_widget(form.registrar,{'attr':{'class':'btn btn-info pull-right','id':"registrar"}})}}
                        </div><!-- /.box-footer -->
                    {#</form>#}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>

    </section>
{% endblock body %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/services/js/users.js') }}"></script>
    <script src="{{ asset('bundles/services/js/plugins/notify/notify.min.js') }}"></script>
    {% if respuesta is defined and respuesta %}
        <script type="text/javascript" >
            $(document).ready(function(){
                $('#msg').notify("{{ msg }}", 
            { className: "success", position:"bottom center" });
            });
        </script>
    {% endif %}
{% endblock %}