{% extends 'ServicesBundle:Services/dashboard/admin:admin.html.twig' %}


{% block body %}
    <section class="content-header">
        <h1>
            Administracion
            <small>Panel de usuario</small>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Info Usuario</h3>
                    </div>
                </div>
                <div class="box-body box-">

                </div>
            </div>
            <div class="col-md-9">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Usuario</h3>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive">
                            <table class="table user-list">
                                <thead>
                                    <tr>
                                        <th><span>Usuario</span></th>
                                        <th><span>Fecha creacion</span></th>
                                        <th class="text-center"><span>Estado</span></th>
                                        <th><span>Email</span></th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for usuario in usuarios %}
                                        <tr>
                                            <td>
                                                <div class="icono-usuario fa fa-user"></div> 
                                                <div class="hover" id="{{ usuario.id }}"><a href="#" class="user-link">{{ usuario.username }}</a></div>
                                                <span class="user-subhead">{% for roles in usuario.roles %}{{ roles }}<br>{% endfor %}</span>
                                            </td>
                                            <td>{{ usuario.datecreated|date('Y-m-d') }} </td>
                                            <td class="text-center">
                                                <span class="label {% if usuario.isactive == 1 %}label-success{% else %}label-danger{% endif %}">{% if usuario.isactive == 1 %}activado{% else %}desactivado{% endif %}</span>
                                            </td>
                                            <td>
                                                <a href="#">{{ usuario.email }}</a>
                                            </td>
                                            <td style="width: 20%;">
                                                <a href="#" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="{{ path('services_servicios_edituser',{id: usuario.id })}}" class="table-link">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                                <a href="#" class="table-link danger">
                                                    <span class="fa-stack">
                                                        <i class="fa fa-square fa-stack-2x"></i>
                                                        <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                                    </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock body %}
{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/services/js/users.js') }}"></script>
{% endblock %}