.navbar-custom {
    background-color: #FFFFFF;
    border-color: #E7E7E7;
}
.back-ground-slider{
    max-height: 300% !important;
    max-width: 470% !important;
    height: auto !important;
}
.back-ground-slider1{

    background-size: cover;
    background-image: url(/bundles/services/img/slider/bcn1-slider.jpg);
}
.back-ground-slider2{

    background-size: cover;
    background-image: url(/bundles/services/img/slider/bcn2-slider.jpg);
}
.back-ground-slider3{
    
    background-size: cover;
    background-image: url(/bundles/services/img/slider/bcn3-slider.jpg);
}
.bgm{
  background-position: 50% 7%; 
}
.img-center-div{
position: absolute;
left: 0;
top: 45px;
  right: 0;
  margin: 0 auto;
z-index: 6;
text-align: center;
max-height: 70%;

max-width: 70%;
}
.img-resize{
    max-width: 100%;
height: auto;
}
@font-face {
	font-family:'fred';
	src:url('/bundles/services/fonts/uvfo___-webfont.eot');
	src:url('/bundles/services/fonts/uvfo___-webfont.eot?#iefix') format('embedded-opentype'),url('/bundles/services/fonts/uvfo___-webfont.woff') format('woff'),url('/bundles/services/fonts/uvfo___-webfont.ttf') format('truetype'),url('/bundles/services/fonts/uvfo___-webfont.svg#universextrablackobl') format('svg');
	font-weight:normal;
	font-style:normal
}
@font-face {
	font-family:'fredlight';
	src:url('/bundles/services/fonts/uvo.eot');
	src:url('/bundles/services/fonts/uvo.eot?#iefix') format('embedded-opentype'),url('/bundles/services/fonts/uvo.woff') format('woff'),url('/bundles/services/fonts/uvo.ttf') format('truetype')
}
h4 {
	font-family:"fred","Open Sans","Helvetica Neue",Helvetica,sans-serif
}
body {
	font-family:"fredlight","Open Sans","Helvetica Neue",Helvetica,sans-serif;
	font-size:14px
}
.section-navbar {
	font-family:"fredlight","Open Sans","Helvetica Neue",Helvetica,sans-serif
}
h2 {
	font-family:"fredlight","Open Sans","Helvetica Neue",Helvetica,sans-serif
}
.widget .widget-title,.widget
.widgettitle {
	font-family:"fredlight","Open Sans","Helvetica Neue",Helvetica,sans-serif
}
@font-face {
	font-family:'PageLinesFont';
	src:url('/bundles/services/fonts/fontawesome-webfont.eot?v=4.0.3');
	src:url('/bundles/services/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'),url('/bundles/services/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'),url('/bundles/services/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'),url('/bundles/services/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight:normal;
	font-style:normal
}
.icon,.fa {
	display:inline-block;
	font-family:PageLinesFont;
	font-style:normal;
	font-weight:normal;
	line-height:1;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.icon-search:before,.fa-search:before {
	content:"\f002"
}
.icon-desktop:before,.fa-desktop:before {
	content:"\f108"
}
.icon-mobile-phone:before,.fa-mobile-phone:before,.icon-mobile:before,.fa-mobile:before {
	content:"\f10b"
}
.icon-stack-overflow:before,.fa-stack-overflow:before {
	content:"\f16c"
}
.icon-size-color{
    font-size: 80px;
    color: graytext;
}
.home-size{
    font-size: 26px;
}
body {
  padding-top: 45px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="input"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.img-nav-mini{
    
    max-width: 45px;
    height: auto;
}
.img-nav-ng{
    width: 100%;
    max-width: 200px;
    height: auto;
}

.nav-logo {
    float: left !important; 
    width: auto !important;
    background-color: white !important;

}
.white{
    background-color: white;
}
.icono-usuario{
    float: left;
    font-size: 60px;
    margin: 0px;
    padding-right: 5px;
}