<!DOCTYPE html>

<html  lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/favicon.ico" rel="shortcut icon" type="image/png" />

        <title>{{ titulo }} - Apperture Dev</title>

    </head>
    <body class="hold-transition skin-black sidebar-mini fixed">
        <div class="wrapper">

            <!-- Main Header -->
            <header class="main-header white">

                <!-- Logo -->
                <a class="nav-logo logo" href="/"><img class="logo-lg img-nav-ng" src="{{ asset('bundles/services/img/apperturelogo-white.jpg') }}"><img src="{{ asset('bundles/services/img/apperture.png') }}" class="img-circle logo-mini img-nav-mini" alt="User Image"></a>
                <div class="navbar-default navbar-header" style="background-color: white;">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                <!-- Header Navbar -->
                <nav class="navbar navbar-static-top" role="navigation">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    
                    <!-- Navbar Right Menu -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu">
                                <!-- Menu toggle button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the messages -->
                                        <ul class="menu">
                                            <li><!-- start message -->
                                                <a href="#">
                                                    <div class="pull-left">
                                                        <!-- User Image -->
                                                        <img src="{{ asset('bundles/services/img/apperture.png') }}" class="img-circle" alt="User Image">
                                                    </div>
                                                    <!-- Message title and timestamp -->
                                                    <h4>
                                                        Support Team
                                                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                    </h4>
                                                    <!-- The message -->
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li><!-- end message -->
                                        </ul><!-- /.menu -->
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul>
                            </li><!-- /.messages-menu -->

                            <!-- Notifications Menu -->
                            <li class="dropdown notifications-menu">
                                <!-- Menu toggle button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- Inner Menu: contains the notifications -->
                                        <ul class="menu">
                                            <li><!-- start notification -->
                                                <a href="#">
                                                    <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                                </a>
                                            </li><!-- end notification -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul>
                            </li>
                            <!-- Tasks Menu -->
                            <li class="dropdown tasks-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-flag-o"></i>
                                    <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- Inner menu: contains the tasks -->
                                        <ul class="menu">
                                            <li><!-- Task item -->
                                                <a href="#">
                                                    <!-- Task title and progress text -->
                                                    <h3>
                                                        Design some buttons
                                                        <small class="pull-right">20%</small>
                                                    </h3>
                                                    <!-- The progress bar -->
                                                    <div class="progress xs">
                                                        <!-- Change the css width attribute to simulate progress -->
                                                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li><!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer">
                                        <a href="#">View all tasks</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- User Account Menu -->
                            <li class="dropdown user user-menu">
                                <!-- Menu Toggle Button -->
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <!-- The user image in the navbar-->
                                    <img src="{{ asset('bundles/services/img/apperture.png') }}" class="user-image" alt="User Image">
                                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                    <span class="hidden-xs">{% if  app.user.username  is defined %}{{ app.user.username }}{% endif %}</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- The user image in the menu -->
                                    <li class="user-header">
                                        <img src="{{ asset('bundles/services/img/apperture.png') }}" class="img-circle" alt="User Image">
                                        <p>
                                            {% if  app.user.username  is defined %}{{ app.user.username }}{% endif %} - Web Developer
                                            <small>Member since Nov. 2012</small>
                                        </p>
                                    </li>
                                    <!-- Menu Body -->
                                    <li class="user-body">
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Followers</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Sales</a>
                                        </div>
                                        <div class="col-xs-4 text-center">
                                            <a href="#">Friends</a>
                                        </div>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a href="{{ path('logout')}}" class="btn btn-default btn-flat">Log out</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- Control Sidebar Toggle Button -->
                            <li>
                                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                            </li>
                        </ul>
                    </div>
                                        <div class="pull-left">
                        {#
                        <div class="navbar-header" >
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="width: 1px">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>#}
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a class="glyphicon glyphicon-home home-size" href="{{ path('services_servicios')}}"></a></li>
                                <li><a href="#about">Acerca</a></li>
                                <li><a href="#contact">Contacto</a></li>

                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </header>
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="main-sidebar">

                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">

                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img src="{{ asset('bundles/services/img/apperture.png') }}" class="img-circle" alt="User Image">
                        </div>
                        <div class="pull-left info">
                            <p>{% if  app.user.username  is defined %}{{ app.user.username }}{% endif %}</p>
                            <!-- Status -->
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>

                    <!-- search form (Optional) -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /.search form -->
                    
                        <!-- Sidebar Menu -->
                    <ul class="sidebar-menu">
                        {% block sidebar %}   
                        <li class="header">HEADER</li>
                        <!-- Optionally, you can add icons to the links -->
                        <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
                        <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-link"></i> <span>Multilevel</span> <i class="fa fa-angle-left pull-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#">Link in level 2</a></li>
                                <li><a href="#">Link in level 2</a></li>
                            </ul>
                        </li>
                        {% endblock sidebar %}
                    </ul><!-- /.sidebar-menu -->
                    
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                {% block body %}
                    <section class="content-header">
                        <h1>
                            Page Header
                            <small>Optional description</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                            <li class="active">Here</li>
                        </ol>
                    </section>

                    <!-- Main content -->
                    <section class="content">

                        <div class="container marketing">

                            <!-- Three columns of text below the carousel -->
                            <div class="row text-center">
                                <div class="col-lg-3">
                                    <div class="img-circle icon-search icon icon-size-color"></div>
                                    <h2>Apper Search</h2>
                                    <p>Buscar un productos que quieres nunca ha sido tan fácil, con ApperSearch puedes buscarlo y te dirá donde puedes encontrarlo, según tu posición. Podrás compartir todas tus búsquedas y conseguir descuentos.</p>
                                    {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-3">
                                    <div class="img-circle icon-stack-overflow icon icon-size-color"></div>
                                    <h2>Apps Sociales</h2>
                                    <p>Al estar abierto a todo, tambien incluimos las redes sociales, desarrollamos soluciones para estas, ya sea Facebook, Twitter, Google+, etc..</p>
                                    {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-3">
                                    <div class="img-circle icon-mobile icon icon-size-color"></div>
                                    <h2>Desarrollo Movil</h2>
                                    <p>En apperture dev seguimos promoviendo las ideas para cualquier aplicación móvil, estamos abierto a ello.</p>
                                    {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-3">
                                    <div class="img-circle icon-desktop icon icon-size-color"></div>
                                    <h2>Desarrollo Web</h2>
                                    <p>Porque en Apperture Dev creemos en el poder de la web, desarrollamos tus proyectos web. Por una web funcional y abierta.</p>
                                    {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                                </div><!-- /.col-lg-4 -->
                            </div><!-- /.row -->


                            <!-- START THE FEATURETTES -->

                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7 text-center">
                                    <h2 class="featurette-heading">Apper Search<br> <span class="text-muted">Buscalo y encuentralo</span></h2>
                                    <p class="lead">Buscar un productos que quieres nunca ha sido tan fácil, con ApperSearch puedes buscarlo y te dirá donde puedes encontrarlo, según tu posición. Podrás compartir todas tus búsquedas y conseguir descuentos.</p>
                                </div>
                                <div class="col-md-5">
                                    <img class="featurette-image img-responsive center-block" style="height: 400px" src="{{ asset('bundles/services/img/Screenshot_2014-11-17-17-59-13.jpg') }}" alt="Generic placeholder image">
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            <div class="row featurette">
                                <div class="col-md-7 col-md-push-5 text-center">
                                    <h2 class="featurette-heading">Nuestras Tecnologias<br> <span class="text-muted">son nuestra mejores armas</span></h2>
                                    <p class="lead">Utilizamos las tecnologias ya renococidad asi como su avances tecnologos de ellas.<br>Programamos con PHP pero utilizando el framework de symfony combinandolo con mysql tenemos una base de datos rapida, combinando Jquery y Boostrap somos capaces de darle un gran aspecto, y controlamos cada palmo de codigo con Git.</p>
                                </div>
                                <div class="col-md-5 col-md-pull-7">
                                    <img class="featurette-image img-responsive center-block" src="{{ asset('bundles/services/img/technologies.jpg') }}" alt="Technologies">
                                </div>
                            </div>

                            <hr class="featurette-divider">

                            </section><!-- /.content -->
                        {% endblock body %}
                    </div><!-- /.content-wrapper -->

                    <!-- Main Footer -->
                    <footer class="main-footer">
                        <!-- To the right -->
                        <div class="pull-right hidden-xs">
                            Apperture Dev 2014-2015
                        </div>
                        <!-- Default to the left -->
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Apperture Dev</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.apperturedev.es" property="cc:attributionName" rel="cc:attributionURL">Adrián Pastén</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional License</a>.
                    </footer>

                    <!-- Control Sidebar -->
                    <aside class="control-sidebar control-sidebar-dark">
                        <!-- Create the tabs -->
                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                            <li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Home tab content -->
                            <div class="tab-pane active" id="control-sidebar-home-tab">
                                <h3 class="control-sidebar-heading">Recent Activity</h3>
                                <ul class="control-sidebar-menu">
                                    <li>
                                        <a href="javascript::;">
                                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                                            <div class="menu-info">
                                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                                <p>Will be 23 on April 24th</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul><!-- /.control-sidebar-menu -->

                                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                                <ul class="control-sidebar-menu">
                                    <li>
                                        <a href="javascript::;">
                                            <h4 class="control-sidebar-subheading">
                                                Custom Template Design
                                                <span class="label label-danger pull-right">70%</span>
                                            </h4>
                                            <div class="progress progress-xxs">
                                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                                            </div>
                                        </a>
                                    </li>
                                </ul><!-- /.control-sidebar-menu -->

                            </div><!-- /.tab-pane -->
                            <!-- Stats tab content -->
                            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div><!-- /.tab-pane -->
                            <!-- Settings tab content -->
                            <div class="tab-pane" id="control-sidebar-settings-tab">
                                <form method="post">
                                    <h3 class="control-sidebar-heading">General Settings</h3>
                                    <div class="form-group">
                                        <label class="control-sidebar-subheading">
                                            Report panel usage
                                            <input type="checkbox" class="pull-right" checked>
                                        </label>
                                        <p>
                                            Some information about this general settings option
                                        </p>
                                    </div><!-- /.form-group -->
                                </form>
                            </div><!-- /.tab-pane -->
                        </div>
                    </aside><!-- /.control-sidebar -->
                    <!-- Add the sidebar's background. This div must be placed
                         immediately after the control sidebar -->
                    <div class="control-sidebar-bg"></div>
            </div><!-- ./wrapper -->


            {% block css %}
                <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
                <link href="{{ asset('bundles/services/css/bootstrap.min.css') }}" rel="stylesheet">
                <link href="{{ asset('bundles/services/css/customcssdash.css') }}" rel="stylesheet">
                <link href="{{ asset('bundles/services/css/AdminLTE.min.css') }}" rel="stylesheet">
                <link href="{{ asset('bundles/services/css/skins/skin-black.min.css') }}" rel="stylesheet">
               
            {% endblock css %}
            {% block scripts %}
                <script src="{{ asset('bundles/services/js/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
                <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
                <script src="{{ asset('bundles/services/js/bootstrap.min.js') }}"></script>
                <script src="{{ asset('bundles/services/js/app.js') }}"></script>
                <script src="{{ asset('bundles/services/js/plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
                {#<script>
                    $(document).ready(function () {
                        $("body").addClass("fixed");
                    });

                </script>#}
            {% endblock%}

    </body>
</html>
