{% extends 'ServicesBundle:Services:main.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {% if error %}
                <div class="error">{{ error.message }}</div>
            {% endif %}
            <form class="form-signin" action="{{ path('login_check') }}" method="post">
                <h2 class="form-signin-heading">Login</h2>
                <label for="inputEmail" class="sr-only">Nombre de Usuario</label>
                <input type="input" id="username" class="form-control" placeholder="username" required autofocus name="_username" value="{{ last_username }}">
                <label for="inputPassword" class="sr-only">Contraseña</label>
                <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="remember_me" name="_remember_me" checked />Recordar Sesion
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">entrar</button>
            </form>
        </div>
    </div>
    {% endblock%}
