<?xml version="1.0" encoding="UTF-8"?>
<datos>
    {% for usuario in usuarios %}
        <market>
            <local>{{ usuario.local }}</local>
            <direccion>{{ usuario.direccion}}, {{ usuario.ciudad}} </direccion>
            <foto>{% if  usuario.icono%}{#http://www.apperturedev.es/services/images/apperture#}{{ usuario.icono }}{% else %}http://www.apperturedev.es/prueba/img/users/uploads/appersearch.png{% endif %}</foto>
            <longitud>{{ usuario.longitud }}</longitud>
            <latitud>{{ usuario.latitud }}</latitud>
            <web>{% if  usuario.web%}{{ usuario.web }}{% else %}http://www.apperturedev.es/{% endif %}</web>
        </market>
    {% endfor %}
</datos>