<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="/favicon.ico" rel="shortcut icon" type="image/png" />

        <title>{{ titulo }} - Apperture Dev</title>

    </head>
    <!-- NAVBAR
    ================================================== -->
    <body>
        <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/"><img src="{{ asset('bundles/services/img/apperturelogo-white.jpg') }}" style="height: auto"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a class="glyphicon glyphicon-home home-size" href="{{ path('services_homepage')}}"></a></li>
                        <li><a href="#about">Acerca</a></li>
                        <li><a href="#contact">Contacto</a></li>

                    </ul>
                    {#<ul class="nav navbar-nav navbar-right">
                        <li><a href="http://blog.apperturedev.es/cv-adrian-pasten/">CV: Adrián Pastén</a></li>
                            {#<li><a href="../navbar-static-top/">Static top</a></li>
                            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>#}
                    {#</ul>#}
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div>
            {% block body %}

                <!-- Carousel
                ================================================== -->
                <div id="myCarousel" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <div class="img-center-div">
                        <img class="img-resize" src="{{ asset('bundles/services/img/aperturedevlogo2.png') }}">
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="item active back-ground-slider1 bgm">
                            
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>ApperSearch</h1>
                                    <p>Buscar un productos que quieres nunca ha sido tan fácil, con ApperSearch puedes buscarlo y te dirá donde puedes encontrarlo, según tu posición.</p>

                                </div>
                            </div>
                        </div>
                        <div class="item back-ground-slider2 bgm">
                            
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>Lo que tu quieras lo hacemos</h1>
                                    <p>Creemos en vuestras ideas, nosotros te ayudamos a materializarlas, cuenta con nostros para vuestro proyecto.</p>

                                </div>
                            </div>
                        </div>
                        <div class="item back-ground-slider3 bgm">
                            {#<img class="third-slide back-ground-slider" align="middle" src="{{ asset('bundles/services/img/slider/bcn3-slider.jpg') }}" alt="Third slide">#}
                            <div class="container">
                                <div class="carousel-caption">
                                    <h1>La apertura al desarrollo</h1>
                                    <p>En Apperture Dev, siempre estamso mejorando, incorporando nuevas tecnologías, estamos abierto a desarrollar, es la apertura al desarrollo.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Siguiente</span>
                    </a>
                </div><!-- /.carousel -->


                <!-- Marketing messaging and featurettes
                ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->

                <div class="container marketing">

                    <!-- Three columns of text below the carousel -->
                    <div class="row text-center">
                        <div class="col-lg-3">
                            <div class="img-circle icon-search icon icon-size-color"></div>
                            <h2>Apper Search</h2>
                            <p>Buscar un productos que quieres nunca ha sido tan fácil, con ApperSearch puedes buscarlo y te dirá donde puedes encontrarlo, según tu posición. Podrás compartir todas tus búsquedas y conseguir descuentos.</p>
                            {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-3">
                            <div class="img-circle icon-stack-overflow icon icon-size-color"></div>
                            <h2>Apps Sociales</h2>
                            <p>Al estar abierto a todo, tambien incluimos las redes sociales, desarrollamos soluciones para estas, ya sea Facebook, Twitter, Google+, etc..</p>
                            {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-3">
                            <div class="img-circle icon-mobile icon icon-size-color"></div>
                            <h2>Desarrollo Movil</h2>
                            <p>En apperture dev seguimos promoviendo las ideas para cualquier aplicación móvil, estamos abierto a ello.</p>
                            {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                        </div><!-- /.col-lg-4 -->
                        <div class="col-lg-3">
                            <div class="img-circle icon-desktop icon icon-size-color"></div>
                            <h2>Desarrollo Web</h2>
                            <p>Porque en Apperture Dev creemos en el poder de la web, desarrollamos tus proyectos web. Por una web funcional y abierta.</p>
                            {#<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
                        </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->


                    <!-- START THE FEATURETTES -->

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 text-center">
                            <h2 class="featurette-heading">Apper Search<br> <span class="text-muted">Buscalo y encuentralo</span></h2>
                            <p class="lead">Buscar un productos que quieres nunca ha sido tan fácil, con ApperSearch puedes buscarlo y te dirá donde puedes encontrarlo, según tu posición. Podrás compartir todas tus búsquedas y conseguir descuentos.</p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-responsive center-block" style="height: 400px" src="{{ asset('bundles/services/img/Screenshot_2014-11-17-17-59-13.jpg') }}" alt="Generic placeholder image">
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 col-md-push-5 text-center">
                            <h2 class="featurette-heading">Nuestras Tecnologias<br> <span class="text-muted">son nuestra mejores armas</span></h2>
                            <p class="lead">Utilizamos las tecnologias ya renococidad asi como su avances tecnologos de ellas.<br>Programamos con PHP pero utilizando el framework de symfony combinandolo con mysql tenemos una base de datos rapida, combinando Jquery y Boostrap somos capaces de darle un gran aspecto, y controlamos cada palmo de codigo con Git.</p>
                        </div>
                        <div class="col-md-5 col-md-pull-7">
                            <img class="featurette-image img-responsive center-block" src="{{ asset('bundles/services/img/technologies.jpg') }}" alt="Technologies">
                        </div>
                    </div>

                    <hr class="featurette-divider">



                    <!-- /END THE FEATURETTES -->
                </div>  
            {% endblock %}
            <div class="container ">
                 <!-- FOOTER -->
                 <div class="text-center center-block">
                    <footer>
                        <p class="pull-right"><a href="#">Back to top</a></p>

                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Apperture Dev</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.apperturedev.es" property="cc:attributionName" rel="cc:attributionURL">Adrián Pastén</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional License</a>.
                    </footer>
                </div>
            </div>
        </div>
        
        {% block css %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('bundles/services/css/bootstrap.min.css') }}" rel="stylesheet">
            <link href="{{ asset('bundles/services/css/customcss.css') }}" rel="stylesheet">

            <!-- Custom styles for this template -->
            <link href="{{ asset('bundles/services/css/carousel.css') }}" rel="stylesheet">

        {% endblock css %}
        {% block scripts %}
            <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
            <script defer src="{{ asset('bundles/services/js/bootstrap.min.js') }}"></script>
            <script defer src="{{ asset('bundles/services/js/service.js') }}"></script>
        {% endblock%}
    </body>
</html>
